<h1><%= @company.name %></h1>
<dl>
  <dt>Localização:</dt>
  <dd><%= @company.location %></dd>
  <dt>Email:</dt>
  <dd><%= @company.mail %></dd>
  <dt>Telefone:</dt>
  <dd><%= @company.phone %><dd>
</dl>

<h1>Vagas:</h1>
<%= render partial: 'shared/jobs_list', locals:{ jobs: @company.jobs } %>

<%= link_to "Voltar", root_path %>
