<h1><%= @company.name %></h1>
<dl>
  <dt>Localização:</dt>
  <dd><%= @company.location %></dd>
  <dt>Email:</dt>
  <dd><%= @company.mail %></dd>
  <dt>Telefone:</dt>
  <dd><%= @company.phone %><dd>
</dl>

<h1>Vagas:</h1>
  <% if @company.jobs.empty? %>
    <%= "Nenhuma vaga disponível" %>
  <% else %>
    <% @company.jobs.each do |job| %>
      <%= render partial: 'jobs/job', locals:{ job: job } %>
    <% end %>
  <% end %>

<%= link_to "Voltar", root_path %>
